# Ignore standard object and dependency files
*.o
*.d

# Ignore build outputs across all emulator target directories
/main-emulator/*.elf
/main-emulator/*.img
/main-emulator/*.lst
/main-emulator/*.map

/mega-emulator/*.elf
/mega-emulator/*.img
/mega-emulator/*.lst
/mega-emulator/*.map

/snes-emulator/*.elf
/snes-emulator/*.img
/snes-emulator/*.lst
/snes-emulator/*.map

/master-emulator/*.elf
/master-emulator/*.img
/master-emulator/*.lst
/master-emulator/*.map

# Other files to ignore
/roms/
/bios/
/res/Jojoca.png
/snes-emulator/pico
/snes-emulator/pico_int_offs.h
.vscode/

